:root {
    --inner: black;
    --border: black;
    --accent: #0073EE;
  }
body{
    display: flex;
    font-family: 'Press Start 2P', cursive;
    color: #0073EE;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('gfx/gamepatterns/background-pattern.png');
    background-repeat: repeat;
    background-size: 60px;
    background-position-x: center;
    background-position-y: top;
    zoom: 150%;
    margin: 10px;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    width: 600px;
    height: 300px;
    background: var(--inner);
    box-shadow:
            0   -6px 0  -2px var(--inner),
            0    6px 0  -2px var(--inner),
            0  -12px 0  -4px var(--inner),
            0   12px 0  -4px var(--inner),
            0  -18px 0  -8px var(--inner),
            0   18px 0  -8px var(--inner),
            0  -24px 0 -12px var(--inner),
            0   24px 0 -12px var(--inner),
          
           -2px  0   0   0   var(--border),
            2px  0   0   0   var(--border),
            0   -4px 0   0   var(--border),
            0    4px 0   0   var(--border),
            0  -10px 0  -2px var(--border),
            0   10px 0  -2px var(--border),
            0  -14px 0  -4px var(--border),
            0   14px 0  -4px var(--border),
            0  -20px 0  -8px var(--border),
            0   20px 0  -8px var(--border),
            0  -26px 0 -12px var(--border),
            0   26px 0 -12px var(--border),
          
           -4px  0   0   0   var(--accent),
            4px  0   0   0   var(--accent),
            0   -2px 0   2px var(--accent),
            0    2px 0   2px var(--accent),
            0   -8px 0   0px var(--accent),
            0    8px 0   0px var(--accent),
            0  -12px 0  -2px var(--accent),
            0   12px 0  -2px var(--accent),
            0  -16px 0  -4px var(--accent),
            0   16px 0  -4px var(--accent),
            0  -22px 0  -8px var(--accent),
            0   22px 0  -8px var(--accent),
            0  -28px 0 -12px var(--accent),
            0   28px 0 -12px var(--accent),
          
           -6px  0   0   0   var(--border),
            6px  0   0   0   var(--border),
            0    0   0   4px var(--border),
            0   -6px 0   2px var(--border),
            0    6px 0   2px var(--border),
            0  -10px 0   0   var(--border),
            0   10px 0   0   var(--border),
            0  -14px 0  -2px var(--border),
            0   14px 0  -2px var(--border),
            0  -18px 0  -4px var(--border),
            0   18px 0  -4px var(--border),
            0  -24px 0  -8px var(--border),
            0   24px 0  -8px var(--border),
            0  -30px 0 -12px var(--border),
            0   30px 0 -12px var(--border);  
}
.menu-button{
    cursor: pointer;
    font-size: 20px;
    margin: 30px;
}
.menu-button:hover{
    color: #479efa;
}
#playground{
    margin-top: 100px;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    border: 5px solid #ffff99;
    border-top: 0px;
}
.playground-element{
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;  
}
.gameinfo-image{
    width: 334px;
    height: 119px;
    position: absolute;
    z-index: 1;
}
#loupe{
    display: none;
    background-image: url("gfx/loupe/loupe.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 422px;
    height: 386px;
    position: absolute;
    bottom: 0;
    left: 0;
}
#blue-loupe{
    position: absolute;
    bottom: 100px;
    left: 90px;
    z-index: 1;
}
#brown-loupe{
    position: absolute;
    bottom: 220px;
    left: 170px;
    z-index: 1;
}
#yellow-loupe{
    position: absolute;
    bottom: 110px;
    left: 220px;
    z-index: 1;
}
#scoreboard{
    display: none;
    background-image: url("gfx/interface-elements/scoreboard.png");
    width: 207px;
    height: 157px;
    position: absolute;
    top:50px;
    left:100px;
}
#top-score{
    position: relative;
    left: 100px;
    top:50px;
}
#current-score{
    position: relative;
    top:70px;
    left: 100px;
}
#game-info{
    display: none;
    background-image: url("gfx/interface-elements/game-info.png");
    position: absolute;
    right: 120px;
    bottom: 100px;
    height: 205px;
    width: 175px;
}
.game-info-element{
    margin: 30px 0px 30px 0px;
    position: relative;
    top:40px;
    left: 100px;
}
#doctor{
    display: none;
    background-image: url("gfx/interface-elements/doctor.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    width: 290px;
    position: absolute;
    top: 50px;
    right: 100px;
}